.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 70%), url('../../images/background.jpg');
  background-size: cover;
  background-position: bottom 40% left 10%;
}
.banner h1 {
  font-family: 'Roboto', sans-serif;
  color: #217AC1;
  font-weight: lighter;
  font-size: 70px;
}
.banner-info {
  font-weight: bold;
  background-color: rgba(255, 255, 255, .6);
  padding: 10px;
  border-radius: 10px;
  padding: 30px;
}
#start {
  margin: 1em;
  background-color: #3a8fd4;
  border-color: rgba(0,0,0,0.2);
  color: white;
}
#start:hover {
  text-shadow: 0 0 4px white;
}
#important { 
  color: #282828;
}