.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 70%), url('../../images/background.jpg');
  background-size: cover;
  background-position: bottom 40% left 10%;
}
.banner h1 {
  font-family: 'Roboto', sans-serif;
  color: #217AC1;
  font-weight: lighter;
  font-size: 70px;
}
.banner-info {
  font-weight: bold;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 10px;
  padding: 30px;
}
#start {
  margin: 1em;
  background-color: #3a8fd4;
  color: white;
}
#start:hover {
  text-shadow: 0 0 4px white;
}
#important { 
  color: #282828;
}

@media (max-width: 360px) {
  .banner-info {
    border-radius: 0;
    padding-top: 50px;
    background-color: rgba(255, 255, 255, .5);
    height: 100%;
  }
  .banner h1 {
    font-size: 60px;
  }
}